* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;

  background: url("./assets/background.jpeg") lightgray 50% / cover no-repeat;
  font-family: "Inter", sans-serif;
  color: #fff;
}

main {
  grid-area: main;
}

.container {
  display: grid;
  grid-template-columns: 64px 1fr;
  margin: 0 auto;
  gap: 24px;
  grid-template-areas:
    "aside header header"
    "aside main main";
  grid-template-rows: 64px 540px;
}

header {
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 24px;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05),
    0px 1px 1px 0px rgba(255, 255, 255, 0.3) inset,
    0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(16px);
  width: 816px;
  height: 64px;
  justify-content: center;
  grid-area: header;
}

header .controls-left,
header .controls-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

header .adress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .adress-bar {
  display: flex;
  align-items: center;
  border-radius: 80px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.1) inset,
    0px 1px 0px 0px rgba(0, 0, 0, 0.2) inset;
  width: 440px;
  height: 48px;
  justify-content: space-between;
  padding: 12px;
}

header .adress-bar div {
  display: flex;
  align-items: center;
  gap: 4px;
}

aside {
  width: 64px;
  height: 220px;
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.05),
    0px 1px 1px 0px rgba(255, 255, 255, 0.3) inset,
    0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset;
  backdrop-filter: blur(16px);
  grid-area: aside;
  align-self: center;
}

.videoWrapper {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ambilightWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

#video {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
}

#ambilight {
  filter: blur(80px) opacity(0.5) saturate(300%);
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: scale(1.2) translateZ(0);
  width: 100%;
  z-index: -1;
  height: 100%;
  /* little hack to fix iframe "no-overflow bug" */
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0);
}